#myModal .baby-modal h3 {
	font-family: $sHeaderFontFamily;
	font-size: 20px; 
    padding: 0 50px;
	color: #8B4789;
    text-align: center;
}

#myModal .baby-modal img.main { display: block; margin: 0 auto; }

#myModal .item img { 
    text-align: center;
    margin: 0 auto;
}